label{
	color: #666;
}

input{
	height: 1.5em;
	background: none;
	border: none;
	margin: 10px;
}

input:focus { outline: none; }

#submit{
	height: 2em;
	background: #34d0e6; /*#2a7ee2;*/
	color: white;
	margin: 0;
	margin-top: 10px;
	letter-spacing: 2px;
}

#submit:hover{
	background: #2bafc3;
}